* {
  box-sizing: border-box;
  margin: 0px;
}

html, body {
  width: 100%;
  height: 100%;
}

.wrapper {
  /* background-color: skyblue; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px 30px 30px 30px;
}

.wrapper__header {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
}

.title__left {
  font-size: 13px;
  color: #55B2D4;
  font-weight: 700;
}

.title__right {
  font-size: 8px;
  padding-left: 5px;
}

.line {
  border-top: 1px solid #999999;
  width: 100%;
}

.header__body {
  font-size: 11px;
  color: #999999;
}

.wrapper__body {
  width: 100%;
  height: 270px;
  margin-bottom: 20px;
}

video {
  width: 100%;
  height: 80%;
}

/* 비디오 태그 넣는법 구글링해서 넣어보기 */